---
title: "Willkommen bei Tutals Früchte"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.5)
excerpt: "**Seit 1999 Obst und Gemüse in Gauting**"




gallery:
    - url: /assets/images/header.webp
      image_path: /assets/images/header.webp
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/sydney-2.webp
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/sydney-3.webp
      alt: "placeholder image 3"
      title: "Image 3 title caption"

gallery_blumen:
    - url: /assets/images/sortiment/blumen/aussen_blumen.webp
      image_path: /assets/images/sortiment/blumen/aussen_blumen.webp
    - url: /assets/images/sortiment/blumen/blumen_nah.webp
      image_path: /assets/images/sortiment/blumen/blumen_nah.webp
    - url: /assets/images/sortiment/blumen/schnittblumen.webp
      image_path: /assets/images/sortiment/blumen/schnittblumen.webp

gallery_desserts:
    - url: /assets/images/sortiment/desserts/feinkost_dessert_obst.webp
      image_path: /assets/images/sortiment/desserts/feinkost_dessert_obst.webp
    - url: /assets/images/sortiment/desserts/saefte.webp
      image_path: /assets/images/sortiment/desserts/saefte.webp

gallery_fruechte_exotic:
    - url: /assets/images/sortiment/fruechte_exotic/ananas_mini.webp
      image_path: /assets/images/sortiment/fruechte_exotic/ananas_mini.webp
    - url: /assets/images/sortiment/fruechte_exotic/dragonfruit.webp
      image_path: /assets/images/sortiment/fruechte_exotic/dragonfruit.webp

gallery_fruechteobst:
    - url: /assets/images/sortiment/fruechteobst/aprikose.webp
      image_path: /assets/images/sortiment/fruechteobst/aprikose.webp
    - url: /assets/images/sortiment/fruechteobst/beeren_2zu1.webp
      image_path: /assets/images/sortiment/fruechteobst/beeren_2zu1.webp
    - url: /assets/images/sortiment/fruechteobst/beeren.webp
      image_path: /assets/images/sortiment/fruechteobst/beeren.webp
    - url: /assets/images/sortiment/fruechteobst/birnen.webp
      image_path: /assets/images/sortiment/fruechteobst/birnen.webp
    - url: /assets/images/sortiment/fruechteobst/obst_draussen.webp
      image_path: /assets/images/sortiment/fruechteobst/obst_draussen.webp
    - url: /assets/images/sortiment/fruechteobst/pflaume.webp
      image_path: /assets/images/sortiment/fruechteobst/pflaume.webp
    - url: /assets/images/sortiment/fruechteobst/plattpfirsische.webp
      image_path: /assets/images/sortiment/fruechteobst/plattpfirsische.webp
    - url: /assets/images/sortiment/fruechteobst/saison_ware_spargel_erdbeeren.webp
      image_path: /assets/images/sortiment/fruechteobst/saison_ware_spargel_erdbeeren.webp

gallery_gemuese:
    - url: /assets/images/sortiment/gemuese/artischocken.webp
      image_path: /assets/images/sortiment/gemuese/artischocken.webp
    - url: /assets/images/sortiment/gemuese/gemuese_bohnen_gurken.webp
      image_path: /assets/images/sortiment/gemuese/gemuese_bohnen_gurken.webp
    - url: /assets/images/sortiment/gemuese/gemuese_kartoffeln.webp
      image_path: /assets/images/sortiment/gemuese/gemuese_kartoffeln.webp
    - url: /assets/images/sortiment/gemuese/gemuese_kohl.webp
      image_path: /assets/images/sortiment/gemuese/gemuese_kohl.webp
    - url: /assets/images/sortiment/gemuese/ingwer.webp
      image_path: /assets/images/sortiment/gemuese/ingwer.webp
    - url: /assets/images/sortiment/gemuese/karotten.webp
      image_path: /assets/images/sortiment/gemuese/karotten.webp
    - url: /assets/images/sortiment/gemuese/melonen.webp
      image_path: /assets/images/sortiment/gemuese/melonen.webp
    - url: /assets/images/sortiment/gemuese/paprika.webp
      image_path: /assets/images/sortiment/gemuese/paprika.webp
    - url: /assets/images/sortiment/gemuese/romanesco.webp
      image_path: /assets/images/sortiment/gemuese/romanesco.webp
    - url: /assets/images/sortiment/gemuese/tomaten.webp
      image_path: /assets/images/sortiment/gemuese/tomaten.webp

gallery_kraeuter:
    - url: /assets/images/sortiment/kraeuter/aussen_kraeuter.webp
      image_path: /assets/images/sortiment/kraeuter/aussen_kraeuter.webp
    - url: /assets/images/sortiment/kraeuter/kraeuter_seitlich.webp
      image_path: /assets/images/sortiment/kraeuter/kraeuter_seitlich.webp

gallery_pilze:
    - url: /assets/images/sortiment/pilze/pfifferlinge.webp
      image_path: /assets/images/sortiment/pilze/pfifferlinge.webp
    - url: /assets/images/sortiment/pilze/pilze.webp
      image_path: /assets/images/sortiment/pilze/pilze.webp
    - url: /assets/images/sortiment/pilze/steinpilze.webp
      image_path: /assets/images/sortiment/pilze/steinpilze.webp

gallery_salate:
    - url: /assets/images/sortiment/salate/feldsalat.webp
      image_path: /assets/images/sortiment/salate/feldsalat.webp
    - url: /assets/images/sortiment/salate/salat.webp
      image_path: /assets/images/sortiment/salate/salat.webp

gallery_vorspeisen_und_salate:
    - url: /assets/images/sortiment/vorspeisen-salate/Anatolische-Vorspeisen.webp
      image_path: /assets/images/sortiment/vorspeisen-salate/Anatolische-Vorspeisen.webp
    - url: /assets/images/sortiment/vorspeisen-salate/feinkost_salate_vorspeisen.webp
      image_path: /assets/images/sortiment/vorspeisen-salate/feinkost_salate_vorspeisen.webp
    - url: /assets/images/sortiment/vorspeisen-salate/vorspeisen.webp
      image_path: /assets/images/sortiment/vorspeisen-salate/vorspeisen.webp

gallery_weine_oele:
    - url: /assets/images/sortiment/weine-oele/oele.webp
      image_path: /assets/images/sortiment/weine-oele/oele.webp








image-text-row-two:
    - header: "Image-Text-Row"
      excerpt: "This is an image-text-row with the image on the right (on large enough screens) and a little bit longer text plus a button"
      btn-url: "#"
      btn-class: "info"
      btn-label: "A button"
      blank: false
      image-url: "/assets/images/sydney-2.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false

---




<section class="site-section alternative-color first-section" id="section-1">

    <h1>Tutals Früchte</h1>

    <p>Qualität ist unsere Stärke</p>
    <p>Frische ist unsere Leidenschaft</p>

    <h2>Frisches Obst und Gemüse seit 1999 in Gauting</h2>

    <p>Wir beraten und verkaufen mit großer Leidenschaft. Wir tun unser Bestes, um unseren Kunden ein positives Einkaufsgefühl zu bieten und Ihre Waren mit einem guten Gefühl nach Hause zu bringen. Daher legen wir hohen Wert auf eine angenehme Atmosphäre in unserem kleinen gemütlichen Laden im Herzen Gautings.</p>

    <h2>Obst und Gemüse in Gauting</h2>
    <p>Seit unserer Eröffnung im Jahre 1999, möchten wir unseren Kunden ein beständiges qualitativ hochwertiges Sortiment an frischen Obst- und Gemüse sowie Feinkostprodukten bieten. Ebenfalls versuchen wir vor allem einen Fokus auf saisonale und regionale Produkt zu setzen. Deshalb kaufen wir „Just-in-Time“ ein, damit wir Ihnen immer frische Waren garantieren können. Daher stehen wir tagtäglich mit großem Engagement für unsere geschätzten Kunden bereit und versuchen stets Ihre Erwartungen zu erfüllen.</p>

    <h2>Drop in galleries, round images or image-text-rows</h2>

    <h3>Gallery</h3>

    {% include gallery class="full" caption="Gallery captions, just like the rest of the theme, **support Markdown**"%}

    <hr>

    {% include image-text-row id="image-text-row-two" %}

</section>








<hr class="section-sep">

<section class="site-section alternative-color" id="section-2">

    <h1>Öffnungszeiten</h1>
    <h2>Montag bis Freitag</h2>
    <p>8:00 - 18:00 Uhr</p>

    <h2>Samstags</h2>
    <p>7:30 - 13:00</p>
</section>


<hr class="section-sep">

<section class="site-section" id="section-3">

    <h1>Sortiment</h1>
    <h2>Alles täglich frisch!</h2>
    <p>Wir beziehen unsere Waren täglich frisch und möglichst verzehrfertig. Mit unseren Lieferanten arbeiten wir bereits seit Jahren zusammen und vertrauen Ihnen bei Qualität und Herkunft.</p>
    <p>Je nach Jahreszeit und Saison passen wir unser Sortiment an. So finden Sie beispielsweise im Winter vorwiegend Gemüse und Zitrusfrüchte. Im Sommer wiederum haben wir die begehrten saisonalen Waren wie Beeren, Spargel und Salate aus dem Umland im Sortiment.</p>

    <h1>Gemüse, Pilze und Kräuter</h1>
    <h2>Gemüse</h2>
    <p>Unser Sortiment reicht von Artischoken bis zu Zucchini. Sie finden bei uns Kartoffeln, Rettich, Radieschen, Karotten, Pastinaken, Brokkoli, Petersilwurzeln, Rote Beete, Kohlrabi, Meerrettich, Knoblauch, Zwiebeln, Lauch, Blumenkohl,  Bohnen, Mangold, Rhabarber und vieles mehr.</p>
    {% include gallery id="gallery_gemuese" %}

    <h2>Pilze</h2>
    <p>Pilze kann man gut untergliedern in drei Sparten: die Waldpilze, Zuchtpilze und Trüffel.</p>
    <ul>
        <li>Zu den Waldpilzen gehören die begehrten Pfifferlinge, Steinpilze als auch Morcheln, Shiitake-Pilze.</li>
        <li>Champignons, Egerlinge, Austernpilze und Kräuterseitlinge zählen zu den Zuchtpilzen und sind somit ganzjährig erhältlich.</li>
        <li>Die schwarzen und weißen Trüffel sind eine Besonderheit und sehr begehrt. An besonderen Festtagen wie Weihnachten oder auf Bestellung sind diese auch in unserem Sortiment.</li>
    </ul>
    {% include gallery id="gallery_pilze" %}

    <h2>Salate</h2>
    <p>Sie finden bei vorwiegend im Sommer regionale Salate aus der Gärtnerhalle in München. Im Winter müssen wir unsere Lieferwege ausdehnen, jedoch ist unser Anspruch stets als erstes bei der Qualität.</p>
    <p>Im Sortiment haben wir unter anderem Eichblatt-, Endivien-, Batavia-, Lollo-Rosso-, Lollo-Verde-, Eis-, und natürlich auch Kopfsalat. Zudem finden Sie auch Chicorée, Radicchio, Kresse, Rucola, Portulak  und vieles mehr.</p>
    {% include gallery id="gallery_salate" %}

    <h1>Obst, Früchte und Nüsse</h1>
    <h2>Früchte</h2>
    <p>Von regionalen Früchten wie Äpfeln, Zwetschgen bis zu exotischen wie der Ananas, Mango, Granadilla führen wir jedes Obst in unserem Sortiment, natürlich mit der Limitation der Jahreszeit.</p>
    {% include gallery id="gallery_fruechteobst" %}

    <h2>Exoten & Südfrüchte</h2>
    <p>Besonders hervorzuheben an unserer Auswahl an exotischen Früchten wären beispielsweise Papayas, Physalis, Mangos, Ananas, Passionsfrüchte als auch Maracujas da diese (fast) ganzjährig erhältlich sind.</p>
    <p>Zudem führen wir immer wieder Pitahayas, Granatäpfel, Litschies, Pomelo, Kokosnüsse und Guave.</p>
    {% include gallery id="gallery_fruechte_exotic" %}

    <h2>Nüsse & Kerne</h2>
    <p>Sie finden bei uns erstklassige Mandeln, Walnüsse, Erdnüsse, Haselnüsse, Macadamianüsse, Paranüsse, Pistazien und vieles mehr.</p>
    <p>Zudem haben wir auch leckere Kerne wie Cashew- und Pinienkerne.</p>

    <h2>Getrocknete Früchte & Schokofrüchte</h2>
    <p>Getrocknete Mangos, Papayas, Ingwer, Äpfel und vieles mehr finden sie bei uns.</p>
    <p>Zudem haben wir auch viele verschiedene Schokoladenarten im Sortiment</p>

    <h2>Fruchtbecher & Desserts</h2>
    <p>Täglich frisch bereiten wir für unsere Kunden unsere leckeren Obstsalate und Frucht-Jogurt-Becher zu.</p>
    <p>Zudem haben wir Ananas-, Mango-, Melonenschalen. Auch pulen wir Granatapfelkerne und Grapefruits.</p>
    {% include gallery id="gallery_desserts" %}

    <h2>Anatolische Vorspeisen und Salate</h2>
    <p>Wie führen auch leckere selbstgemachte Spezialitäten bei uns im Hause wie:</p>
    <ul>
        <li>Aufstriche: Tamaras, Tzatziki, Auberginencreme, Mexikanische Creme, Thunfischcreme, Olivencreme & Humus.</li>
        <li>Hausgemachte Salate: Kichererbsen-, Griechischer-, Thunfisch-, Artischoken-, Couscous-Salate.</li>
        <li>eingelegte Oliven, Paprika, Kapern, Artischoken, Rote Beete und vieles mehr.</li>
    </ul>
    {% include gallery id="gallery_vorspeisen_und_salate" %}

    <h2>Käse & Antipasti</h2>
    <p>Sie finden feinste Käsesorten bei uns wie den guten Blümlikäse aus dem Allgäu, gemacht aus reinster Heumilch. Zudem führen wir den begehrten, herben Gwitterchäs aus der Schweiz.</p>
    <p>Wir führen ebenso guten Schaf- und Ziegenkäse. Zudem haben wir feinsten Büffelmozzarella, Grana Padano und Parmesan von unserem langjährigen italienischen Partner.</p>

    <h2>Weine & Öle</h2>
    <p>Feinste Extraklasse Olivenöl, Essig und Sirup zum verfeinern Ihrer Salate haben wir auch in unserer Auswahl.</p>
    {% include gallery id="gallery_weine_oele" %}


    <h2>Blumen</h2>
    <p>Von Rosen bis hin zu Tulpen, Sonnenblumen, Pfingsrosen, Dahlien und viele mehr führen wir je Jahreszeit.</p>
    {% include gallery id="gallery_blumen" %}

</section>










<hr class="section-sep">











<section class="site-section" id="section-4">

    <h1>Kontakt</h1>
    <p>Um uns stetig verbessern zu können, würden wir uns freuen, wenn Sie ihre Anregungen und Verbesserungsvorschläge mitzuteilen.</p>
    <h2>Wie können wir Ihnen helfen?</h2>
    <p>Wir sind für Sie da! Ob bei Fragen zu unserer Ware, Bestellungen für größere Mengen oder Geschenkkörbe. Gerne können Sie auch direkt per E-Mail bestellen oder einfach anrufen!</p>
    <p>E-Mail: <a href="mailto:Tutals.Fruechte@gmail.com">Tutals.Fruechte@gmail.com</a></p>
    <p>Tel.: <a href="tel:+498989399669">089/89 30 9669</a></p>



</section>